img {   
  
        border: 1px solid #ddd; /* Gray border */
        border-radius: 50px;  /* Rounded border */
        padding: 5px; /* Some padding */
        width: 400px; /* Set a small width */
        
      
}
body{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(im.png);
    }
    
.about1{
margin-top: 30px;
font-variant: small-caps;
border-style: dashed;
padding-left: 10px;
margin-bottom: 30px;
margin-left: 5px;
}
.about2{

 font-variant: small-caps;
 border-style: dashed;
 padding-left: 10px;
 margin-left: 5px;
}
.about3{

 font-variant: small-caps;
 border-style: dashed;
 padding-left: 10px;
 margin-bottom: 30px;
 margin-right: 20px;

 
}
.about4{

font-variant: small-caps;
border-style: dashed;
padding-left: 10px;
margin-right: 20x;
}